body {
  margin: 0;
  padding: 0;
}

.button {
  outline: none;
  height: 40px;
  padding: 0 15px;
  background: blueviolet;
  color: #fff;
  border: none;
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
  // margin-left: 10px;
  border-radius: 4px;
  margin-right: 10px;
  text-transform: uppercase;
  cursor: pointer !important;
  pointer-events: all;
  &.signup {
    background: none;
    color: blueviolet;
  }
}
// .disabled {
//   pointer-events: none;
//   cursor: not-allowed !important;
// }
.formWrapperBlock {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .formWrapper {
    max-width: 400px;
    width: 100%;
    margin: 40px auto;
    border: 2px solid #8a2be2;
    border-radius: 4px;
    padding: 30px;
    box-shadow: 2px 2px 0px 1px #8a2be2;
    .field {
      margin-bottom: 20px;
      position: relative;
      label {
        margin-bottom: 10px;
        font-size: 16px;
        display: block;
        color: blueviolet;
      }
      input {
        width: 100%;
        height: 40px;
        outline: none;
        border-radius: 4px;
        border: 1px solid blueviolet;
        padding: 0 15px;
        font-size: 16px;
        color: #000;
        &::placeholder {
          color: #ccc;
        }
      }
      p {
        color: red;
        position: absolute;
        top: calc(100% + 3px);
        font-size: 12px;
        margin: 0;
      }
    }
    .button {
      width: 100%;
    }
  }
}
